<!DOCTYPE html>
<html>
<head>
    <title>הורדת סרטון מיוטיוב</title>
	<link rel="icon" href="{{ url_for('static', filename='ICON.ico') }}">
</head>
<body>
    <h1>הכנס את ה-URL של סרטון YouTube</h1>
    <form action="/download" method="post">
        <input type="text" name="url" placeholder="הכנס את ה-URL כאן" required>
        <button type="submit">הורד</button>
    </form>

    <h1>הכנס את ה-URL של ערוץ YouTube</h1>
    <form action="/channel_videos" method="post">
        <input type="text" name="channel_url" placeholder="הכנס את ה-URL של הערוץ כאן" required>
        <button type="submit">חילוץ רשימת סרטונים</button>
    </form>
</body>
</html>
